LogicApp/flows/Outbound-Accounts-Push-Changes/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_a_row_by_ID_(preview)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "commondataservice"
                        }
                    },
                    "method": "get",
                    "headers": {
                        "prefer": "odata.include-annotations=*",
                        "accept": "application/json;odata.metadata=full",
                        "organization": "@parameters('Dataverse_environment')"
                    },
                    "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('accounts'))}(@{encodeURIComponent(encodeURIComponent('99b55132-44f2-ed11-8849-0022489fdbe5'))})"
                },
                "runAfter": {
                    "List_rows_(preview)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Call_a_local_function_-_map_to_outbound_model": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "MapToOutboundModel",
                    "parameters": {
                        "requestMessage": "@body('Get_a_row_by_ID_(preview)')"
                    }
                },
                "runAfter": {
                    "Get_a_row_by_ID_(preview)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "List_rows_(preview)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "commondataservice"
                        }
                    },
                    "method": "get",
                    "headers": {
                        "prefer": "odata.include-annotations=*",
                        "accept": "application/json;odata.metadata=full",
                        "organization": "@parameters('Dataverse_environment')"
                    },
                    "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('accounts'))}",
                    "queries": {
                        "$filter": "new_kategori ne null",
                        "$top": 20
                    }
                },
                "runAfter": {}
            },
            "Call_a_local_function_-_get_soap_content": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "MapToXmlOutboundModel",
                    "parameters": {
                        "requestMessage": "@body('Get_a_row_by_ID_(preview)')"
                    }
                },
                "runAfter": {
                    "Call_a_local_function_-_map_to_outbound_model": [
                        "SUCCEEDED"
                    ]
                }
            },
            "HTTP_-_get_access_token": {
                "type": "Http",
                "inputs": {
                    "uri": "@parameters('CpiAccessTokenUrl')",
                    "method": "GET",
                    "headers": {
                        "client_id": "@{parameters('CpiCreateCustomerClientId')}",
                        "client_secret": "@{parameters('CpiCreateCustomerClientSecret')}",
                        "grant_type": "client_credentials"
                    }
                },
                "runAfter": {
                    "Add_a_new_row_(preview)": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    },
                    "secureData": {
                        "properties": [
                            "inputs"
                        ]
                    }
                }
            },
            "HTTP_-_post_customer_create": {
                "type": "Http",
                "inputs": {
                    "uri": "@parameters('CpiCreateCustomerUrl')",
                    "method": "POST",
                    "headers": {
                        "Authorization": "Bearer @{body('HTTP_-_get_access_token')?['access_token']}",
                        "Content-Type": "text/xml"
                    },
                    "body": "@\r\nbase64ToString(body('Call_a_local_function_-_get_soap_content')?['Base64Data'])"
                },
                "runAfter": {
                    "HTTP_-_get_access_token": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Add_a_new_row_(preview)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "commondataservice"
                        }
                    },
                    "method": "post",
                    "body": "@parameters('Dummy')",
                    "headers": {
                        "prefer": "return=representation,odata.include-annotations=*",
                        "organization": "@parameters('Dataverse_environment')",
                        "Content-Type": "application/json"
                    },
                    "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('accounts'))}"
                },
                "runAfter": {
                    "Call_a_local_function_-_get_soap_content": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_row_is_added,_modified_or_deleted_(preview)": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "commondataservice"
                        }
                    },
                    "body": {
                        "entityname": "account",
                        "message": 7,
                        "scope": 4,
                        "version": 1,
                        "url": "@listCallbackUrl()"
                    },
                    "headers": {
                        "organization": "@parameters('Dataverse_environment')",
                        "Consistency": "Strong",
                        "catalog": "all",
                        "category": "all"
                    },
                    "path": "/api/data/v9.1/callbackregistrations"
                }
            }
        }
    },
    "kind": "Stateful"
}