LogicApp/flows/Outbound-Accounts-Push-Changes/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_a_row_by_ID_(preview)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "commondataservice"
                        }
                    },
                    "method": "get",
                    "headers": {
                        "prefer": "odata.include-annotations=*",
                        "accept": "application/json;odata.metadata=full",
                        "organization": "@parameters('Dataverse_environment')"
                    },
                    "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('accounts'))}(@{encodeURIComponent(encodeURIComponent('d2a1e4d3-43a4-e311-9e9d-6c3be5befd9c'))})"
                },
                "runAfter": {
                    "List_rows_(preview)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Call_a_local_function_-_map_to_outbound_model": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "MapToOutboundModel",
                    "parameters": {
                        "requestMessage": "@body('Get_a_row_by_ID_(preview)')"
                    }
                },
                "runAfter": {
                    "Get_a_row_by_ID_(preview)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "List_rows_(preview)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "commondataservice"
                        }
                    },
                    "method": "get",
                    "headers": {
                        "prefer": "odata.include-annotations=*",
                        "accept": "application/json;odata.metadata=full",
                        "organization": "@parameters('Dataverse_environment')"
                    },
                    "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('accounts'))}",
                    "queries": {
                        "$filter": "new_kategori ne null",
                        "$top": 20
                    }
                },
                "runAfter": {}
            },
            "HTTP_-_get_access_token": {
                "type": "Http",
                "inputs": {
                    "uri": "@parameters('CpiAccessTokenUrl')",
                    "method": "GET",
                    "headers": {
                        "client_id": "@{parameters('CpiCreateCustomerClientId')}",
                        "client_secret": "@{parameters('CpiCreateCustomerClientSecret')}",
                        "grant_type": "client_credentials"
                    }
                },
                "runAfter": {
                    "Call_a_local_function_-_map_outbound_to_soap": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    },
                    "secureData": {
                        "properties": [
                            "inputs"
                        ]
                    }
                }
            },
            "HTTP_-_post_customer_create": {
                "type": "Http",
                "inputs": {
                    "uri": "@parameters('CpiCreateCustomerUrl')",
                    "method": "POST",
                    "headers": {
                        "Authorization": "Bearer @{body('HTTP_-_get_access_token')?['access_token']}",
                        "Content-Type": "text/xml"
                    },
                    "body": "@base64ToString(body('Call_a_local_function_-_map_outbound_to_soap')?['Base64Data'])"
                },
                "runAfter": {
                    "HTTP_-_get_access_token": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Call_a_local_function_-_map_outbound_to_soap": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "MapOutboundAccountToSoap",
                    "parameters": {
                        "requestMessage": {
                            "Account": "@outputs('Compose_-_set_EmployeeId')"
                        }
                    }
                },
                "runAfter": {
                    "Compose_-_set_EmployeeId": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Condition_-_SalesPerson_set": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@body('Call_a_local_function_-_map_to_outbound_model')?['SalesPerson']",
                                    "@null"
                                ]
                            }
                        }
                    ]
                },
                "actions": {
                    "List_rows_(preview)_-_user_for_owner": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "commondataservice"
                                }
                            },
                            "method": "get",
                            "headers": {
                                "prefer": "odata.include-annotations=*",
                                "accept": "application/json;odata.metadata=full",
                                "organization": "@parameters('Dataverse_environment')"
                            },
                            "path": "/api/data/v9.1/@{encodeURIComponent(encodeURIComponent('systemusers'))}",
                            "queries": {
                                "$filter": "systemuserid eq '@{body('Call_a_local_function_-_map_to_outbound_model')?['SalesPerson']}'"
                            }
                        }
                    },
                    "Condition_-_user_has_value": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@empty(body('List_rows_(preview)_-_user_for_owner')?['value'])",
                                            true
                                        ]
                                    }
                                }
                            ]
                        },
                        "actions": {
                            "HTTP_-_get_employee_id_by_email": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "https://graph.microsoft.com/v1.0/users?$filter=mail eq '@{body('List_rows_(preview)_-_user_for_owner')?['value']?[0]?['internalEmailAddress']}'&$select=employeeId",
                                    "method": "GET",
                                    "authentication": "@parameters('graph-lookup-authentication')"
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                }
                            },
                            "Condition_-_employeeIdFound": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@length(body('HTTP_-_get_employee_id_by_email')?['value'])",
                                                1
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Set_variable_-_empolyeeId": {
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "EmployeeId",
                                            "value": "@body('HTTP_-_get_employee_id_by_email')?['value']?[0]?['employeeId']"
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                },
                                "runAfter": {
                                    "HTTP_-_get_employee_id_by_email": [
                                        "SUCCEEDED"
                                    ]
                                }
                            }
                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "List_rows_(preview)_-_user_for_owner": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {}
                },
                "runAfter": {
                    "Initialize_variable_-_EmployeeId": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable_-_EmployeeId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "EmployeeId",
                            "type": "string",
                            "value": "@null"
                        }
                    ]
                },
                "runAfter": {
                    "Call_a_local_function_-_map_to_outbound_model": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Compose_-_set_EmployeeId": {
                "type": "Compose",
                "inputs": "@setProperty(body('Call_a_local_function_-_map_to_outbound_model'), 'SalesPerson', variables('EmployeeId'))",
                "runAfter": {
                    "Condition_-_SalesPerson_set": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_row_is_added,_modified_or_deleted_(preview)": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "commondataservice"
                        }
                    },
                    "body": {
                        "entityname": "account",
                        "message": 7,
                        "scope": 4,
                        "version": 1,
                        "url": "@listCallbackUrl()"
                    },
                    "headers": {
                        "organization": "@parameters('Dataverse_environment')",
                        "Consistency": "Strong",
                        "catalog": "all",
                        "category": "all"
                    },
                    "path": "/api/data/v9.1/callbackregistrations"
                }
            }
        }
    },
    "kind": "Stateful"
}